---
import SnowFall from "@/components/SnowFall.astro";
import Default from "@/Layouts/default.astro";
---

<Default title="About">
  <SnowFall />
  <!-- <p class="grid place-content-center pt-10">Rendosland Agyapong</p> -->
  <main
    class="grid place-content-center p-10 ring-gray-800 rounded-lg shadow-lg">
    <!-- <p class="grid place-content-center pt-10">Rendosland Agyapong</p> -->

    <p>
      I am a passionate software engineer with expertise in both mobile and web
      development. I have a strong foundation in Php, flutter, Swift,
      JavaScript, React, Astro, etc.] and a proven ability to design, develop,
      and deploy high-quality, user-friendly applications.
    </p>

    <p>
      I am a skilled software engineer with a focus on building robust and
      scalable mobile and web applications.A deep knowledge of Astro, laravel
      etc. I am a fast learner, a team player, and always eager to explore new
      technologies and improve my skills.
    </p>

    <p>
      I am a creative and results-oriented software engineer with a passion for
      crafting intuitive and engaging user experiences. I enjoy tackling
      challenging problems and finding innovative solutions. I am proficient in
      [list key technologies] and possess excellent problem-solving and
      communication skills. I am always looking for opportunities to learn and
      grow within a dynamic and collaborative environment.
    </p>
  </main>
</Default>

<style>
  main {
    margin: 100px;
  }
  p {
    padding-block: 10px;
  }
</style>
