---
import Default from "@/Layouts/default.astro";
import { Image } from "astro:assets";
import cipHead from "@/assets/houston.webp";
import SnowFall from "@/components/SnowFall.astro";
import Banner from "@/components/Banner.astro";
import Carousel from "@/components/carousel.astro";
import Card from "@/components/card.astro";
import Layout from "@/Layouts/Layout.astro";

export interface Props {
  url?: string;
  title: string;
  amount: string;
  text: string;
  description: string;
}

const { title, amount, text, url, description } = Astro.props;
---

<Layout>
  <section class="bg-white dark:bg-gray-900 rounded">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1
        class="mb-4 text-8xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-8xl dark:text-white">
        Learn. build. grow.together.
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
        Learn from the web’s leading experts. Build something new. Grow your
        career. Let’s do it together.
      </p>
    </div>
  </section>
  <section class="p-20">
    <div class="mx-auto px-4 py-8 max-w-screen-xl text-center">
      <h1 class="font-bold text-6xl">
        <span class="bg-black text-white rounded-lg p-2">Learn</span> from the web’s
        leading experts.
      </h1>
      <p class="w-1/2 text-center mx-auto">
        Every Thursday, Jason pair programs with the brightest minds in web
        development to learn something new in 90 minutes.
      </p>
      <a href="" class="text-red-400">see who just blogged &rarr;</a>
    </div>
  </section>
  <section class="bg-black dark:bg-gray-200 rounded">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1
        class="mb-4 text-6xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        <span class="bg-black text-white p-2 rounded-lg">Build</span> Something new
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
        Rendosland shares insights, lessons learned, and past mistakes. He’s
        been building a career in web dev for 20 years. Maybe he can help you
        build yours, too. <br />
        <a href=""> See all videos &rarr; </a>
      </p>
    </div>
  </section>
  <section class="bg-white dark:bg-orange-200 rounded p-10">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1
        class="mb-4 text-8xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        Let's get better <span class="bg-black text-white rounded-lg"
          >together</span
        >.
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">
        Code is more fun with friends. Join a growing collection of learners and
        teachers who are working to build a better community together.
      </p>
      <a href="">join my Github &rarr;</a>
    </div>
  </section>
</Layout>

<style>
  bodypack {
    height: 100%;
    width: 100%;
  }
</style>
