---

---

<div class="snow-wrapper">
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
</div>

<style>
  body {
    /* overflow: hidden; */
  }

  .snow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .snowflake {
    position: absolute;
    width: 10px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall 3s infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }

  /* Create multiple snowflakes with varying starting positions and speeds */
  .snowflake:nth-child(1) {
    left: 10%;
    animation-duration: 4s;
  }
  .snowflake:nth-child(2) {
    left: 20%;
    animation-duration: 3s;
  }
  .snowflake:nth-child(3) {
    left: 30%;
    animation-duration: 2s;
  }
  .snowflake:nth-child(4) {
    left: 40%;
    animation-duration: 5s;
  }
  .snowflake:nth-child(5) {
    left: 50%;
    animation-duration: 3.5s;
  }
  .snowflake:nth-child(6) {
    left: 60%;
    animation-duration: 4.5s;
  }
  .snowflake:nth-child(7) {
    left: 70%;
    animation-duration: 2.5s;
  }
  .snowflake:nth-child(8) {
    left: 80%;
    animation-duration: 3.2s;
  }
  .snowflake:nth-child(9) {
    left: 90%;
    animation-duration: 2.2s;
  }
  .snowflake:nth-child(10) {
    left: 90%;
    animation-duration: 4.3s;
  }
  .snowflake:nth-child(11) {
    left: 90%;
    animation-duration: 3.4s;
  }
  .snowflake:nth-child(12) {
    left: 90%;
    animation-duration: 4.2s;
  }
  .snowflake:nth-child(13) {
    left: 90%;
    animation-duration: 2.2s;
  }
  .snowflake:nth-child(14) {
    left: 90%;
    animation-duration: 3.2s;
  }
  .snowflake:nth-child(15) {
    left: 90%;
    animation-duration: 1.2s;
  }
  .snowflake:nth-child(16) {
    left: 90%;
    animation-duration: 2.2s;
  }
  .snowflake:nth-child(16) {
    left: 90%;
    animation-duration: 1.8s;
  }
  .snowflake:nth-child(17) {
    left: 90%;
    animation-duration: 2.2s;
  }
  .snowflake:nth-child(18) {
    left: 90%;
    animation-duration: 3.6s;
  }
  .snowflake:nth-child(19) {
    left: 90%;
    animation-duration: 4.2s;
  }
  .snowflake:nth-child(20) {
    left: 90%;
    animation-duration: 1s;
  }
  .snowflake:nth-child(21) {
    left: 90%;
    animation-duration: 1.2s;
  }
  .snowflake:nth-child(22) {
    left: 90%;
    animation-duration: 1.1s;
  }

  /* Add more snowflakes for a denser effect */
  /* ... */
</style>
